private
vendor/
web/*/README.txt
web/.csslintrc
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.ht.router.php
web/*/node_modules
web/core
web/sites/default/files
web/themes/README.txt
web/example.gitignore
web/INSTALL.txt
web/README.txt
web/web.config
.dockerignore
.editorconfig
.env
.git
.gitattributes
.gitignore
.idea
docker-compose.override.yml
docker-compose.yml
LICENSE
README.md
