# OS
*.DS_Store
.AppleDouble
.LSOverride

# Development environment
.idea/

# Deployment
.env

# Docker
docker-compose.override.yml

# Ignore configuration files that may contain sensitive information
/web/sites/*/default.settings.php
/web/sites/*/settings.local.php

# Ignore user-generated content
/private
/web/sites/*/files
/web/sites/*/translations

# Ignore testing related files
/web/sites/simpletest

# Ignore Drupal core & libraries
/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc.json
/web/.gitattributes
/web/.htaccess
/web/.ht.router.php
/web/core
/web/modules/contrib
/web/profiles/contrib
/web/themes/contrib
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/INSTALL.txt
/web/LICENSE.txt
/web/README.txt
/web/robots.txt
/web/update.php
/web/web.config
/vendor
